{% extends "core/base.html" %}
{% load static %}

{% block content %}
<h1 style="color: white; letter-spacing: 10px;">~ ÜYE OL ~</h1>

<div class="container d-flex justify-content-center align-items-center register">
<div class="register-form d-flex justify-content-center align-items-center">
<form method="POST">
 {% csrf_token %}
  {{form}}
  
  <input class="btn btn-warning w-100 mt-2" type="submit" name="Üye Ol" value="Üye Ol">
  <a href={% url "login_page" %} class="btn btn-primary mt-2 w-100" type=>Giriş Yap</a>

</form>
</div>
</div>


{% endblock content %}
